<link rel="apple-touch-icon" sizes="180x180" href="/sites/default/themes/dtheme/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/sites/default/themes/dtheme/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/sites/default/themes/dtheme/icons/favicon-16x16.png">
<link rel="manifest" href="/sites/default/themes/dtheme/icons/site.webmanifest">
<link rel="mask-icon" href="/sites/default/themes/dtheme/icons/safari-pinned-tab.svg" color="#cf1242">
<link rel="shortcut icon" href="/sites/default/themes/dtheme/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Maryland SRPS">
<meta name="application-name" content="Maryland SRPS">
<meta name="msapplication-TileColor" content="#e5e2d8">
<meta name="msapplication-TileImage" content="/sites/default/themes/dtheme/icons/mstile-144x144.png">
<meta name="msapplication-config" content="/sites/default/themes/dtheme/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">